#Add all what you install into your Virtualenv to this file
#pip freeze -r requirements.txt to view what is missing
#"pip install -r requirements.txt" to install all the required apps
Django==1.4
psycopg2==2.4.5
South==0.7.5
django-extensions==0.8
django-olwidget
dj-database-url
django-appconf==0.5
django-user-accounts==1.0b1.dev1
pytz==2012c
wsgiref==0.1.2
