#Add all what you install into your Virtualenv to this file
#"pip install -r requirements.txt" to install all the required apps
Django==1.4
psycopg2==2.4.5
South==0.7.5
django-extensions==0.8
django-user-accounts
