{% extends 'geogeld/base.html' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}listing/css/listing.css" />
{% endblock extra_css %}

{% block extra_js %}
    {{ post_listing_form.media }}
{% endblock extra_js %}

{% block left-column %}
<form id="post-listing-form" method="post" action="{% url listing.views.listing_post %}">
<div class="form-header" >Describe the work</div>
{% csrf_token %}
    {{ post_listing_form.non_field_errors }}
    <div class="form-row">
        <div class="field-wrapper">
           <label for="id_category">Category:</label>
           {{ post_listing_form.category }}
           {{ post_listing_form.category.errors }}
        </div>
        <div class="field-wrapper">
           <label for="id_title">Title:</label>
           {{ post_listing_form.title }}
           {{ post_listing_form.title.errors }}
        </div>
    </div>
    <div class="form-row">
        <div class="field-wrapper">
           <label for="id_description">Description:</label>
           {{ post_listing_form.description }}
           {{ post_listing_form.description.errors }}
        </div>
        <div class="field-wrapper">
           <label for="id_required_skills">Required skills:</label>
           {{ post_listing_form.required_skills }}
           {{ post_listing_form.required_skills.errors }}
        </div>
    </div>
    <div class="form-row">
        <div class="field-wrapper">
           <label for="id_mobile_number">Mobile number:</label>
           {{ post_listing_form.mobile_number }}
           {{ post_listing_form.mobile_number.errors }}
        </div>
        <div class="field-wrapper">
           <label for="id_payment_type">Payment type:</label>
           {{ post_listing_form.payment_type }}
           {{ post_listing_form.payment_type.errors }}
        </div>
    </div>
    <div class="form-row">
        <div class="field-wrapper">
           <label for="id_working_hours">Working hours:</label>
           {{ post_listing_form.working_hours }}
           {{ post_listing_form.working_hours.errors }}
        </div>
        <div class="field-wrapper">
           <label for="id_payment_rate">Payment rate:</label>
           {{ post_listing_form.payment_rate }}
           {{ post_listing_form.payment_rate.errors }}
        </div>
    </div>
    <div class="form-row map-row">
           <label for="id_location">Location:</label>
           <div id="location_error">{{ post_listing_form.location.errors }}</div>
            <div class="clearfix"></div>
            {{ post_listing_form.location }}
    </div>
    <input type="submit" value="Continue" />
    <div class="clearfix"></div>
    </form>
<div class="clearfix"></div>
{% endblock left-column %}
