{% extends 'geogeld/base.html' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}accounts/css/accounts.css" />
{% endblock extra_css %}

{% block left-column %}
	<form id="login-form" method="post" action="/login/?next=/listings/post/">
	<div class="form-header" >I have an account</div>
	{% csrf_token %}
	{{ login_form.as_p }}
	<p><input type="submit" value="Continue" /></p>
	<div class="clearfix"></div>
	</form>
	
	<form id="registration-form" method="post" action="account/registration/">
	<div class="form-header" >I don't have an account</div>
	{% csrf_token %}
	{{ registration_form.as_p }}
	<p><input type="submit" value="Continue" /></p>
	<div class="clearfix"></div>
	</form>
{% endblock left-column %}