@CHARSET "UTF-8";

a, a:visited {
  text-decoration: none;
  color: #000000;
}

body {
    background-color: #ffffff;
    font-family: "Sans serif";
    font-size: 12pt;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#container {
    margin: auto;
    width: 98%;
}

#header {
    width: 100%;
    margin-bottom: 1%;
    
}


#content {
    width: 100%;
    margin-bottom: 1%;
}

#footer {
    width: 98%;
    padding: 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    
    font-size: 14pt;
    font-weight: bold;
    color: gray;
    background-color: #cccccc; 
  
}

#left-column {
  width: 70%;
  float: left;
  
}

#right-column {
  width: 29%;
  float: right;
  
}

#header-buttons {
    width: 100%;
    text-align: right;
  
}

#header-buttons a{
    color: white;
    background-color: #61acd6;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 4px;
}

#user_info {
    float: right;
}

.helptext {
    color: #cccccc;
    font-size: 9pt;
    display: block;
}

#login-button {
}

#logout-button {
}

#explore-button {
}


#ad-banner {
    height: 200px;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2%;
    margin-bottom: 2%;
    
    text-align: center;
    
  
}

#job-listings {
    background-color: #dddddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 2%;
    padding: 1%;

}

.job-listing {
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    margin-bottom: 2%;
    padding: 2%;
}

.job-title {
    color: #90aa08;
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 1%;
}

.job-details {
    color: #000000;
}


#job-posting-box {
}

#quick-posting-form {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
    font-family: "Sans serif";
    background: #315f83;
    border: 1px solid gray;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 4%;
}

#quick-posting-form #job-title{
    font-size: 13pt;
}

.form-element {
    width: 98%;
    color: #aaaaaa;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-style: outset;
    
    padding: 1%;
    margin-bottom: 2%;
}

#continue-button {
    width: 40%;
    font-size: 13pt;
    font-weight: bold;
    margin-top: 4%;
}

.job-category-button {
    width: 100%;
    height: 70px;
    margin-bottom: 3%;
    margin-top: 3%;
    
    font-size: 13pt;
  
}

.job-category-button.chosen {
    background-color:  #ffffff;
}

#category-label, #job-title-label {
    margin-top: 3%;
    float: left;
}

#quick-posting-form-left-column  {
    width: 48%;
    float: left;
    
    margin-right: 2%;
}

#quick-posting-form-right-column {
    width: 48%;
    float: right;
}

.reply-button {
    float: right;
    /*
    color: #ffffff;
    background-color: #90AA08;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    */
}

/* Overidden Twitter-Bootstrap styles */
.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}