@CHARSET "UTF-8";

a, a:visited {
  text-decoration: none;
  color: #000000;
}

body {
    background-color: #ffffff;
    font-family: "Sans serif";
    font-size: 12pt;
}

#logo-text {
    color: #999999;
    display: inline-block;
}

#user_info{
    margin-right: 1.5%;
    font-size: 8pt;
}

#user_info a{
    color: #999999;
    font-size: 12pt;
    
}

#user_info a:hover{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#container {
    margin: auto;
    width: 100%;
}

#header {
    width: 100%;
}

#header a, a:visited {
    text-decoration: none;
}


#content {
    width: 98%;
    margin: 1%;
}

#footer {
    width: 98%;
    text-align: left;
    font-size: 9pt;
    color: #ffffff;
    min-height: 40px;
    padding: 1%;
    
    background: #333333; /* Old browsers */
}


#footer-links .column {
    width: 30%;
    float: left;
    border-right: 1px dashed gray;
}

#footer-links .column ul {
    list-style-type: none;
}

#footer-links .last-element {
    border-right: none;
}

#footer a {
    color: #ffffff;
}

#footer .column .title {
    color: #90aa08;
    font-size: 12pt;
    margin-bottom: 2%;
}


#left-column {
  width: 70%;
  float: left;
  
}

#right-column {
  width: 29%;
  float: right;
  
}

#header-buttons {
    width: 100%;
    text-align: right;
  
}

#header-buttons a{
    color: white;
    background-color: #61acd6;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 4px;
}

#user_info {
    float: right;
}

.helptext {
    color: #cccccc;
    font-size: 9pt;
    display: block;
}

#login-button {
}

#logout-button {
}

#explore-button {
}


#ad-banner {
    height: 200px;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2%;
    margin-bottom: 2%;
    
    text-align: center;
    
  
}

#job-listings {
    background-color: #dddddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 2%;
    padding: 1%;

}

.job-listing {
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    margin-bottom: 3%;
    padding: 2%;
}

.job-listing a{
    text-decoration: none;
}

.job-title {
    color: #90aa08;
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 1%;
}

.job-details {
    color: #000000;
}


#job-posting-box {
}

#quick-posting-form {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
    font-family: "Sans serif";
    background: #315f83;
    border: 1px solid gray;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 4%;
}

#quick-posting-form #job-title{
    font-size: 13pt;
}

.form-element {
    width: 98%;
    color: #aaaaaa;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-style: outset;
    
    padding: 1%;
    margin-bottom: 2%;
}

#continue-button {
    width: 40%;
    color: #000000;
    font-size: 13pt;
    font-weight: bold;
    margin-top: 4%;
}

#quick-posting-form .job-category-button {
    width: 100%;
    height: 70px;
    margin-bottom: 3%;
    margin-top: 3%;
    background: #ffffff;
    color: #000000;
    font-size: 13pt;
  
}

#quick-posting-form .job-category-button.chosen {
    background: #aaaaaa;
    color:  #000000;
}

#category-label, #job-title-label {
    margin-top: 3%;
    float: left;
}

#quick-posting-form-left-column  {
    width: 48%;
    float: left;
    
    margin-right: 2%;
}

#quick-posting-form-right-column {
    width: 48%;
    float: right;
}

.reply-button {
    float: right;
    color: #ffffff;
    background-color: #90AA08;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    padding-left: 3%;
    padding-right: 3%;
}

a:hover.reply-button {
    color: #000000;
}

.navbar-inner .nav {
    float: right;
}

/* Overidden Twitter-Bootstrap styles */
.navbar-inner {
    min-height: 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            
}

#login-form {
    margin: 0 auto;
    width: 20%;
}


.form input {
    padding: 1%;
}