<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>GeoGeld</title>
		<meta name="description" content="" />
		<meta name="author" content="ahmad" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" />
		<link rel="apple-touch-icon" href="{{ STATIC_URL }}/apple-touch-icon.png" />

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geogeld/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geogeld/css/style.css" />
		
		{% block extra_css %}
		{% endblock extra_css %}

		{% block extra_js %}
		{% endblock extra_js %}
	</head>

	<body>
		<div id="container">
			<header id="header">
				{% block header-extra %}
					<div class="navbar">
					  <div class="navbar-inner">
						<a href="{% url home %}"><h1 id="logo-text">GeoGeld</h1></a>
		                {% if user.is_authenticated %}
		                    <div id="user_info">Logged in as <a href="{% url accounts.views.profile %}">{{ user }}</a></div>
		                {% endif %}
					    <div class="container">
							<ul class="nav" class="pull-right">
							  <li><a href="{% url listing.views.search %}">Explore</a></li>
						    {% if user.is_authenticated %}
						       <li><a id="logout-button" href="{% url logout %}">Logout</a></li>
						    {% else %}
						       <li><a id="login-button" href="/login">Login</a></li>
						    {% endif %}
							</ul>
					    </div>
					  </div>
					</div>
				{% endblock header-extra %}
			</header>

	    <div id="content">
		{% block content %}
	    	<div id="left-column">
            {% block left-column %}
	    	{% endblock left-column %}
            </div>
	    	
	    	<div id="right-column">
            {% block right-column %}
                <div id="ad-banner">
			    ads here
			    </div>
	    	{% endblock right-column %}
            </div>
	    	
		{% endblock content %}
	    <div class="clearfix"></div>
	    </div>

			<footer id="footer">
				<p>
					&copy; Copyright  by GeoGeld
				</p>
			</footer>
		</div>
	    <script src="{{ STATIC_URL }}/geogeld/js/jquery-1.7.2.min.js"></script>
	    <script src="{{ STATIC_URL }}/geogeld/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}/geogeld/js/main.js"></script>
	</body>
</html>
