{% extends 'geogeld/base.html' %}

{% block left-column %}
	<div>Found {{ paginator.count }} job offers</div>
	<div id="job-listings">
	{% if listings %}
		{% for listing in listings %}
		  <div class="job-listing">
		      <a href="/listings/{{ listing.id }}/details/">
			      <div class="job-title">{{ listing.title }}</div>
			      <div class="job-details">{{ listing.payment_rate }} € per hour | {{ listing.address }} - {{ listing.zipcode }} - {{ listing.city }} - {{ listing.country }}</div>
			  </a>
		      <div><a href="/listings/{{ listing.id }}/reply/" class="reply-button">Reply</a></div>
              <div class="clearfix"></div>
		  </div>
		{% endfor %}
		<div class="clearfix"></div>
	{% else %}
	No listing posted yet.
	{% endif %}
    </div>
    <div class="pagination pagination-centered">
	  <ul>
	    {% if listings.has_previous %}
    	    <li><a href="?page={{ listings.previous_page_number }}">&lt;&lt;</a></li>
		    <li><a href="?page=1">1</a></li>
		    {% if listings.number > 3 %}
			    <li class="disabled"><a href="javascript:void(0);">...</a></li>
		    {% endif %}
		    {% if listings.previous_page_number > 1 %}
		       <li><a href="?page={{ listings.previous_page_number }}">{{ listings.previous_page_number }}</a></li>
		    {% endif %}
	    {% endif %}


	    <li class="active"><a href="?page={{ listings.number }}">{{ listings.number }}</a></li>

	    {% if listings.has_next %}
		    {% if listings.next_page_number < paginator.num_pages %}
			    <li><a href="?page={{ listings.next_page_number }}">{{ listings.next_page_number }}</a></li>
		    {% endif %}
		    {% if listings.next_page_number <= before_last_page %}
			    <li class="disabled"><a href="javascript:void(0);">...</a></li>
		    {% endif %}
		    <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
		    <li><a href="?page={{ listings.next_page_number }}">&gt;&gt;</a></li>
	    {% endif %}
	  </ul>
	</div>
{% endblock left-column %}

{% block right-column %}
    <div id="ad-banner">
    ads here
	</div>
    <div id="job-posting-box">
        <form id="quick-posting-form" method="get" action="/listings/post/">
        <span id="form-title">ORDER HELP</span>
        <hr />
        <label id="job-title-label" for="job-title" />Title of your post</label>
        <input id="job-title" class="form-element" type="text" name="title" placeholder="Title ..." />
        <br />
        <br />
        <span id="category-label">Where exactly do you need help?</span>
        <div id="quick-posting-form-left-column">
	           <input type="button" class="job-category-button btn btn-warning chosen" cat-name="Indoors" value="My House" />
	           <input type="button" class="job-category-button btn btn-warning" cat-name="Outdoors" value="Outdoors" />
        </div>
        <div id="quick-posting-form-right-column">
	           <input type="button" class="job-category-button btn btn-warning" cat-name="Workplace" value="Workplace" />
	           <input type="button" class="job-category-button btn btn-warning" cat-name="Other" value="Other" />
        </div>
        <input class="form-element" id="job-category" type="hidden" name="category" value="Indoors" />
        <input class="form-element btn pull-right" id="continue-button" type="submit" value="CONTINUE" />
		<div class="clearfix"></div>
        </form>
	</div>
{% endblock right-column %}
<div class="clearfix"></div>