{% extends 'geogeld/base.html' %}

{% block left-column %}
	<div id="job-listings">
	{% if listings %}
		{% for listing in listings %}
		  <div class="job-listing">
		      <div class="job-title">{{ listing.title }}</div>
		      <div class="job-details">{{ listing.payment_rate }} € per hour | {{ listing.address }} - {{ listing.zipcode }} - {{ listing.city }} - {{ listing.country }} <a href="">View map</a></div>
		  </div>
		{% endfor %}
		<div class="clearfix"></div>
	{% else %}
	No listing posted yet.
	{% endif %}
    </div>
{% endblock left-column %}

{% block right-column %}
    <div id="ad-banner">
    ads here
	</div>
    <div id="job-posting-box">
        <form id="quick-posting-form" method="post" action="/listings/post/">{% csrf_token %}
        YOU NEED HELP IN YOUR HOUSE?
        <hr />
        <input class="form-element" type="text" name="job_title" value="Title" />
        <textarea class="form-element" name="job_description" cols="35" rows="10">Describe it</textarea>
        <input class="form-element" id="continue-button" type="submit" value="CONTINUE" />
        </form>
	</div>
{% endblock right-column %}
<div class="clearfix"></div>